node_modules
# package-lock.json
.parcel-cache/*
dist
elevare-dist
/test-results/
/playwright-report
/coverage/
/blob-report/
/playwright/.cache/
src/scss/_generated.scss
/.history/
/.history/*
/.parcel-cache
/.history/todo*