$brand: "elevare";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

// @import url("https://use.typekit.net/uxt6rai.css");

// src/styles/main.scss

// Your existing SCSS content
// Define brand-specific variables
$ascentia-brand-primary: rgb(99, 10, 22);
$ascentia-brand-tertiary: #8c9db2;
$ascentia-brand-highlight: #9d3d4a;
$ascentia-brand-highlight-secondary: #b56d77;
$ascentia-brand-header-font: "Droid Serif";
$ascentia-brand-body-font: "Open Sans";

$elevare-brand-primary: #0026c0;
$elevare-brand-tertiary: #fff;
$elevare-brand-highlight: #db6265;
$elevare-brand-highlight-secondary: #f1b11a;
$elevare-brand-header-font: "Norwester";
$elevare-brand-body-font: "Montserrat";

// Define a mixin to set brand variables based on the selected brand
@mixin set-brand($brand) {
  @if $brand == "ascentia" {
    --brand-primary: #{$ascentia-brand-primary};
    --brand-tertiary: #{$ascentia-brand-tertiary};
    --brand-highlight: #{$ascentia-brand-highlight};
    --brand-highlight-secondary: #{$ascentia-brand-highlight-secondary};
    --brand-header-font: #{$ascentia-brand-header-font};
    --brand-body-font: #{$ascentia-brand-body-font};
    --nav-logo-path: url("/src/images/aci-logo-black-text.png");
    --footer-logo-path: url("/src/images/aci-logo-white-text.png");
  } @else if $brand == "elevare" {
    --brand-primary: #{$elevare-brand-primary};
    --brand-tertiary: #{$elevare-brand-tertiary};
    --brand-highlight: #{$elevare-brand-highlight};
    --brand-highlight-secondary: #{$elevare-brand-highlight-secondary};
    --brand-header-font: #{$elevare-brand-header-font};
    --brand-body-font: #{$elevare-brand-body-font};
    --nav-logo-path: url("/src/images/eci-logo-dark-text.png");
    --footer-logo-path: url("/src/images/eci-logo-white-text.png");
  }
}

// Apply the brand-specific variables to CSS variables
:root {
  @include set-brand($brand);

  --bs-nav-tabs-link-active-bg: black !important;
  --bs-secondary-bg-rgb: rgb(255, 255, 255);
}

@font-face {
  font-family: droid-serif;
  src: url("/src/fonts/DroidSerif-Regular-webfont.woff");
}
@font-face {
  font-family: open-Sans;
  src: url("/src/fonts/OpenSans-Regular-webfont.woff");
}
@font-face {
  font-family: "Montserrat";
  src: url("/src/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Norwester";
  src: url("/src/fonts/norwester.otf");
}
$nav-tabs-active-bg: var(--brand-primary);
$font-family-sans-serif: var(--brand-body-font);
$accordion-icon-active-color: white;
$accordion-icon-color: white;
@import "bootstrap/scss/bootstrap";

// Import Fonts
@import "/node_modules/bootstrap-icons/font/bootstrap-icons.css";

* {
  font-family: var(--brand-body-font);
}

.nav-logo {
  content: var(--nav-logo-path);
}
.footer-logo {
  content: var(--footer-logo-path);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--brand-header-font);
  font-weight: bold;
}
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a {
  font-family: var(--brand-header-font);
  font-weight: bold;
}

.btn-primary,
.btn-primary:active,
.accordion-button:not(.collapsed) {
  background-color: var(--brand-primary);
  color: white;
}
.has-primary-bg {
  background-color: var(--brand-primary);
  color: white;
}

.accordion-button::after {
  color: white;
}

.has-primary-bg > * {
  color: white;
}

hr {
  background-color: var(--brand-primary);
  border-color: var(--brand-primary);
  border-style: solid;
  border-width: 1.5px;
  opacity: 1;
}

h2 > a {
  text-decoration: none;
  color: var(--brand-tertiary);
}

a:hover {
  color: var(--brand-highlight);
}

.btn:hover,
.btn-primary:hover {
  background-color: var(--brand-highlight);
  color: var(--bs-secondary-bg-rgb);
}

footer {
  background-color: black;
  color: white;
  text-decoration: none;
}
footer > p > a {
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: unset;
}

.bg-highlight {
  background-color: var(--brand-highlight);
}

.bg-highlight-secondary {
  background-color: var(--brand-highlight-secondary);
}

main,
nav,
.bg-body-secondary,
header,
#top {
  background-color: rgba(255, 255, 255, 1) !important;
}

body {
  background-color: black;
}

.program-card-img {
  min-height: 100%;
}
.card-footer {
  background-color: unset;
  border-top-style: none;
}

.text-left,
.text-left > *,
.text-left > * > * {
  text-align: left !important;
}
.text-right,
.text-right > *,
.text-right > * > * {
  text-align: right !important;
}

.text-primary {
  color: var(--brand-primary) !important;
}

nav {
  font-size: small;
  align-items: end;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: white !important;
  background-color: var(--brand-primary) !important;
  border-color: rgba(white, 0);
  border: none;
}

.nav-tabs .nav-link:not(.active),
.nav-tabs .nav-item.show .nav-link {
  color: var(--brand-primary) !important;
  background-color: white !important;
  border: none;
  // border-color: rgba(white, 0);
}
.multiLevelList > li:not(ul > li) {
  font-weight: bold;
  color: var(--brand-primary);
}

.multiLevelList > li > ul > li {
  font-weight: 400;
  color: black;
}

#requirements > li {
  list-style-type: none;
  list-style-position: inside;
}

.age {
  list-style-image: url("/node_modules/@fortawesome/fontawesome-free/svgs/solid/clock.svg");
}

.education {
  list-style-image: url("/node_modules/@fortawesome/fontawesome-free/svgs/solid/graduation-cap.svg");
}

.list-upper-alpha {
  list-style-type: upper-alpha;
}

.list-lower-roman {
  list-style-type: lower-roman;
}

.headerImg {
  max-height: 225px;
  width: 99vw;
  object-fit: cover;
}

.bold {
  font-weight: bold;
}

main > div {
  min-width: 100%;
}

ul > li {
  line-height: 2em;
}

.detailsTable > tbody > tr > td {
  max-width: 25%;
}

.w-33 {
  width: calc(100% / 3);
}

.w-66 {
  width: calc((100% / 3) * 2);
}

.red {
  color: red;
}

.w-10 {
  max-width: 1.5rem;
}

.pl-n2 {
  padding-left: 1.5rem;
}

.navbar-nav .btn-group .btn {
  vertical-align: middle;
}

.navbar-nav .btn-group .dropdown-toggle-split {
  padding-left: 0;
}

.navbar-nav .btn-group .dropdown-toggle::after {
  margin-left: 0.25rem;
}

#request-info {
  min-width: 100%;
}

.btn-nohighlight:hover {
  background-color: unset;
}

.cat-header {
  margin-left: -1em;
  margin-right: -1em;
}

@include media-breakpoint-up(lg) {
  .cat-header {
    margin-left: -2.5em;
    margin-right: -2.5em;
  }
}

.slide-image {
  //max height: 25vh;
  max-height: 25dvh;
}
