:root {
    --brand-primary: rgb(99, 10, 22);
    --brand-tertiary: #8c9db2;
    --brand-highlight: #9d3d4a;
    --brand-highlight-secondary: #b56d77;
    --brand-header-font: droid-serif;
    --brand-body-font: open-Sans;
    --bs-nav-tabs-link-active-bg: black !important;
    --bs-secondary-bg-rgb: rgb(255, 255, 255);
  }
  
  @font-face {
    font-family: droid-serif;
    src: url("/src/fonts/DroidSerif-Regular-webfont.woff");
  }
  @font-face {
    font-family: open-Sans;
    src: url("/src/fonts/OpenSans-Regular-webfont.woff");
  }