// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
// Import Fonts
@import url("https://use.typekit.net/uxt6rai.css");

:root {
  --bs-secondary-bg-rgb: rgb(255, 255, 255);
  --brand-primary: rgb(99, 10, 22);
  --brand-tertiary: #8c9db2;
  --brand-highlight: #9d3d4a;
  --brand-highlight-secondary: #b56d77;

  --brand-header-font: droid-serif;
  --brand-body-font: open-Sans;
  $font-family-sans-serif: var(--brand-body-font);
}
* {
  font-family: var(--brand-body-font);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--brand-header-font);
}

.has-primary-bg {
  background-color: var(--brand-primary);
  color: var(--bs-secondary-bg-rgb);
}

hr {
  background-color: var(--brand-primary);
  border-color: var(--brand-primary);
  border-style: solid;
  border-width: 3px;
  opacity: 1;
}

h2 > a {
  text-decoration: none;
  color: var(--brand-tertiary);
}

a:hover {
  color: var(--brand-highlight);
}

.btn:hover {
  background-color: var(--brand-highlight);
  color: var(--bs-secondary-bg-rgb);
}

footer {
  background-color: black;
  color: white;
  text-decoration: none;
}
footer > p > a {
  color: white;
  text-decoration: none;
}

.bg-highlight {
  background-color: var(--brand-highlight);
}

.bg-highlight-secondary {
  background-color: var(--brand-highlight-secondary);
}

main,
nav,
.bg-body-secondary {
  background-color: rgba(255, 255, 255, 1) !important;
}

body {
  background-color: black;
}

.program-card-img {
  object-fit: cover;
}
